#table-events{
    margin-top:10%;
    margin-left:25%;
    margin-bottom: 10%;
    width:70%;
    text-align: center;
    background-color: whitesmoke;
    box-shadow: 1px 1px 20px rgba(0,0,0,0.5);
}